* {
    box-sizing: border-box;
}
section {
    padding: 0 1em;
    border: 1px solid black;
}
.box {
    float: left;
    width: 50%;
}
body {
    margin: 0 auto;
    padding: 0 1em 1em;
}

.group {
    clear: both;
}

.bigL {
    font-size: 4em;
    float: left;
    padding: 0 .3em;
  }
.imgR {
    float: right;
    padding: 0 .3em;
}
.athugid {
    background-color: yellow;
    text-align: center;
}